@import "tailwindcss";
* {
  font-family: "Roboto", sans-serif;
  user-select: none;
}
.custom_scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom_scrollbar::-webkit-scrollbar-track {
  background: #1e3a52;
  border-radius: 8px;
}
.custom_scrollbar::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 8px;
}
.custom_scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d4b94f;
}

.input_detail {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
